{% extends "base.html" %}

{% block title%} Login {% endblock%}

{% block body %}
    onload="checkCookiesEnabled()"
{% endblock %}

{% block content%}

    {# Show flashed messages #}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <p class="error">{{ message }}</p>
        {% endfor%}
    {% endif %}
    {% endwith %}

    <form action="/login" method="post" id="login-form">
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="username/email">
        <br>
        <label for="username">Password:</label>
        <input type="password" name="password" placeholder="password">
        <br>
        <input type="submit" value="Login">
        <a href="{{ url_for("register") }}">Register</a>
    </form>

{% endblock%}