{% extends "base.html" %}

{% block title%} Register {% endblock%}

{% block body %}
    onload="checkCookiesEnabled(), timer(3, '/')"
{% endblock %}

{% block content%}

    {# Show flashed messages #}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <p class="{{ category }}">{{ message }}</p>
                {% elif category == 'success' %}
                    <p class="{{ category }}">{{ message }} <span id="seconds"></span> seconds</p>
                {% endif %}
            {% endfor%}
        {% endif %}
    {% endwith %}

    <form action="/register" method="post" id="register-form">
        <label for="username">Username:</label>
        <input type="text" name="new_username" autocomplete="off" placeholder="username/email">
        <br>
        <label for="username">Password:</label>
        <input type="password" name="new_password" placeholder="password">
        <br>
        <input type="submit" value="Register">
    </form>
{% endblock%}